
body{
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background-image: url('cropped-notebook-coffee.jpg');
  padding: 2em 0 1em 0;
}
header p{
  color: rgb(100,110,100);
}
main{
  font-size: 1.1em;
  padding: 0 2em;
}

footer{
  margin-top: 2em;
  padding: 0 1 em;
  border-top: 1px solid dashed rgb(150,150,220);
}
